 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><html><head>
    <% if (ID === "UCFAiFyGs6oDiF1Nf-rRJpZA") { %> 
    <title>Technoblade Never Dies! - PokeTube</title>
 <% } %>
    <title><%=j.Channel.Metadata.Name%> - PokeTube</title>
   <link href=css/yt-ukraine.svg rel=icon>
    <meta content=website property=og:type>
    <meta content="<%=j.Channel.Metadata.Name%> - PokeTube" property=og:title>
       <link href=/css/yt-ukraine.svg?v=6 rel=icon>
       <% if (dnoreplace) { %>

    <meta content="<%-dnoreplace%>" property=twitter:description>
          <% } %>
       <% if (j.Channel.Metadata.Banners.Thumbnail) { %>

    <meta content="<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>" property=og:image>
                   <% } %>

    <meta content=summary_large_image name=twitter:card>
     <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <style> 
    * {
      color:#fff
    }
              @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
        
        .channel-info-container > img {
  width: 100%;
}
        :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;
          
    --app-background: #000;
    --context-menu-background: #000;
    --border-color: #444;
    --item-hover-background: #000;
    --item-active-background: #000;
    --top-bar-background: #000;
    --guide-background: #000;
    --thumbnail-background: #000;
    --channel-info-background: #000;
    --channel-contents-background: #000;
}
  

      </style>  
        <!-- STYLES START -->
  
<style>
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
   }
   summary{
     color:gray;
   }
   summary:hover{
    color:white;
    }
  
  :visited { color: #00c0ff }
     
  a{
  color:#0ab7f0;
   }
  
  .community {
    display: flex;
flex-direction: column;
align-items: center;
border-radius: 30px;
padding: 10px;
  padding-bottom: 10px;
width: fit-content;
margin-top: 12px;
margin-left: auto;
margin-right: auto;
padding-bottom: 32px;
  }
.community-content {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 13px;
  text-align: left;
  background: #111;
  width:50.562em;
  border-radius: 22px;
}
  
   .community-attachment-video {
 
  }
  
  .comments-author {
  margin: 7px;
    margin-top: -2px;
  font-family: inter;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}
  
  .video-grid > .video {
  border-radius: 16px;
  background: black;
  padding: 6px;
  border: #333 solid;
}
  .subscribe-button {
  background-color: white !important;
  color: black !important;
  text-transform: none !important;
  font-weight: bold !important;
  padding: 0px 15px !important;
  border: none !important;
  margin: auto !important;
  height: 37px !important;
  border-radius: 34px !important;
}
  
  .subs {
    margin: 0.6em;text-align: left;margin-left: 0px;margin-top: -1em;font-family: "PokeTube flex";font-weight: 1000;font-stretch: ultra-expanded;
  }
   </style>
   
  <!-- STYLES START -->
  
<style>
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
   }
   summary{
     color:gray;
   }
   summary:hover{
    color:white;
    }
  
  :visited { color: #00c0ff }
     
  a{
  color:#0ab7f0;
   }
   </style>
  
  <link href=/css/app-cdn.min.css rel=stylesheet>
  <link href=/css/app.main.css rel=stylesheet>
  <link href="/css/watch.main.css?v=56" rel=stylesheet>
   <link href="/css/watch-util.css" rel=stylesheet>

  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
  
  <!-- NEW NAVBAR -->
    <link href="/css/watch-navbar.css?v=56" rel=stylesheet>

  
   <!-- STYLES END -->
<link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>

      <style>section p {
        
 font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
 font-weight:400;
 color:#fff;
 font-size:16px;
 line-height:24px;
 margin-top:12px
}
    
.sticky-top {
	 position: sticky;
	 top: 0px;
	 z-index: 999;
}
 .responsive {
	 width: 100%;
	 overflow-x: auto;
}
 .tabs {
	 display: table;
   font-family:inter;
	 border-collapse: separate;
	 table-layout: auto;
}
 .tabs.tabs-center {
	 margin: auto;
}
 .tabs.tabs-justify {
	 width: 100%;
	 table-layout: fixed;
}
 .tabs a.tab {
	 position: relative;
	 display: table-cell;
text-transform:uppercase;
	 transition: all ease 0.3s;
	 padding: 1em 1.6em;
	 transform: translate3d(0, 0, 0);
	 color: #898989;
	 white-space: nowrap;
	 cursor: pointer;
}
 .tabs a.tab:hover {
	 color: #fff;
   text-decoration: none;
}
 .tabs a.tab:after {
	 transition: all 0.3s cubic-bezier(1, 0, 0, 1);
	 will-change: transform, box-shadow, opacity;
	 position: absolute;
	 content: '';
	 height: 3px;
	 bottom: 0px;
	 left: 0px;
	 right: 0px;
	 border-radius: 3px 3px 0px 0px;
	 background: #9fdafd;
	 box-shadow: 0px 4px 10px 3px rgba(60, 180, 250, .15);
	 opacity: 0;
	 transform: scale(0, 1);
}
 .tabs a.tab.active {
	 color: #fff;
}
 .tabs a.tab.active:after {
	 opacity: 1;
	 transform: scale(1, 1);
}                 
                     </style>
                     
  <% if(!isMobile) { %>
    <style>
      .name{
        text-align: left;
      }
        .subs {
    margin: 0.6em;text-align: left;margin-left: 0px;margin-top: -1em;font-family: "PokeTube flex";font-weight: 1000;font-stretch: ultra-expanded;
  }
          .video-grid {
  display: flex;
  flex-wrap: wrap;
   row-gap: 40px;
  padding: 16px;
  max-inline-size: 164ch;
  justify-content: space-around;
 } 
      .channel-page .video-grid {
  background-color: black;
}
      
    </style>
   <% } %>

 
                       <% if (isMobile) { %>  
                         
                         
<style>
  .community-content{ 
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 13px;
   text-align: left;
   background: #1a1a1a;
  width: fit-content;
  border-radius: 22px;
  }
  
  .community {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
    padding-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  max-width: 37em;
}
  .subscribe-button {
  background-color: white !important;
  color: black !important;
  text-transform: none !important;
  font-weight: bold !important;
  padding: 0px 15px !important;
  border: none !important;
  margin: auto !important;
  height: 37px !important;
  border-radius: 34px !important;
  font-stretch: ultra-expanded !important;
  font-family: "PokeTube flex";
  width: 20em;
}
  .video-grid{
    justify-content:center;
  }       

  .channel-info{
    text-align:center;
  }
.sticky-top {
	 position: sticky;
	 top: 0px;
	 z-index: 999;
}
 .responsive {
	 width: 100%;
	 overflow-x: auto;
}
 .tabs {
	 display: table;
   font-family:inter;
	 border-collapse: separate;
	 table-layout: auto;
}
 .tabs.tabs-center {
	 margin: auto;
   font-size:15px
}
  
 .tabs.tabs-justify {
	 width: 100%;
	 table-layout: fixed;
}
 .tabs a.tab {
	 position: relative;
	 display: table-cell;
   text-transform:uppercase;
	 transition: all ease 0.3s;
	 padding: 1em 1.6em;
	 transform: translate3d(0, 0, 0);
	 color: #fff;
	 white-space: nowrap;
	 cursor: pointer;
}
 .tabs a.tab:hover {
	 color: #3cb4fa;
}
 .tabs a.tab:after {
	 transition: all 0.3s cubic-bezier(1, 0, 0, 1);
	 will-change: transform, box-shadow, opacity;
	 position: absolute;
	 content: '';
	 height: 3px;
	 bottom: 0px;
	 left: 0px;
	 right: 0px;
	 border-radius: 3px 3px 0px 0px;
	 background: #9fdafd;
	 box-shadow: 0px 4px 10px 3px rgba(60, 180, 250, .15);
	 opacity: 0;
	 transform: scale(0, 1);
}
 .tabs a.tab.active {
	 color: #fff;
}
 .tabs a.tab.active:after {
	 opacity: 1;
	 transform: scale(1, 1);
}
  body {
    background-color:#111
  }
   

  </style>
                 <% } %>

   <!-- STYLES END -->
  </head>
<body>

                  <% if (!isMobile) { %>  
     <nav>
      <div class="left"><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff> <img style="transform: scale(1.3);padding-left:0.9em;width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5">         </a>             </div>                                    
      <div class="middle">
      <div class="search">
        
        <form action="/search">
   <input class="search-bar" autocomplete="on" id="fname" name="query" placeholder="" style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;" data-ddg-inputtype="identities.firstName">
  

          <button class="btn btn-success" type="submit"><i class="fa-light fa-search"></i></button>
        
        </form>
                               <img src="https://search-metrics.poketube.fun/t/rep.gif" style="border:0;width: 0;visibility: hidden;"> 
 
      </div>
          <img src="https://search-metrics.poketube.fun/t/rep.gif"  style="border:0;width: 0;visibility: hidden;"> 

      </div>
      <div class="right">
      <a href="/privacy" style="text-decoration: none;" title="Privacy Policy">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-shield"></i>
        </a>
        <a href="/video/upload" style="text-decoration: none;" title="Upload Video">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-video"></i>
        </a>
                         
        
      </div>
    </nav>
	   
 
                                                                                      <% } %>

	   
                         <% if (isMobile) { %>  
      <nav style="background-color:#111">
      <div class="left">
  <i onclick="window.history.back()" style="color:#fff;padding: 10px;" class="fa-solid fa-chevron-left"></i>
         
        
        <p style="font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;"><%=j.Channel.Metadata.Name%></p>

        </div>                                    
     
    
 
         <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

 
    </nav>

                                                                                     <% } %>

        <section class=youtube-video>
<div class="channel-page">

<div class="channel-page">
       
               
      
                                 
          <% if (!isMobile) { %>  
            <div class="channel-info-container" style="text-align: center;">

        <% if (j.Channel.Metadata.Banners.Thumbnail) { %>

          <img src="https://p.poketube.fun/<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>">
                               <% } %>
		<div class="channel-info" >
			<a href="/channel?id=<%=ID%>" class="avatar">
				<img src="https://p.poketube.fun/<%=j.Channel.Metadata.Avatars.Thumbnail.$t%>" alt="Channel Avatar">
			</a>
			<div class="name">
				<p style="font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;"><%=j.Channel.Metadata.Name%>       <a href="/feeds/videos.xml?channel_id=<%=ID%>"><i class="fa-light fa-rss"></i></a>
<br>
          </p>
                    <p class="subs"><%=subs%> subscribers</p>

 			</div>
 
			<button class="subscribe-button">Suscribe</button>
      
		</div>
                                    <% if (!isMobile) { %>  
   
     <div class="tabs  tabs-center">
            <% if (!tab) { %>

                <a href="/channel?id=<%=ID%>" class="tab active">Videos</a>
                           <%  if (Array.isArray(c.comments)) { %> 

  <%  if (c.comments.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab">Community</a>
                                                                         <% } %>
                                                                         <% } %>

 
                 <a  href="/channel?id=<%=ID%>&tab=about"  class="tab">About</a>
                                                               <% } %>
                                                                             <% if (tab === "about") { %>

                <a href="/channel?id=<%=ID%>" class="tab">Videos</a>
  <%  if (Array.isArray(c.comments)) { %> 

  <%  if (c.comments.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab">Community</a>
                                                                         <% } %>
                                                                         <% } %>

                 <a  href="/channel?id=<%=ID%>&tab=about" class="tab active">About</a>
                                                               <% } %>
                                                                 
                                                                      <% if (tab === "community") { %>

                <a href="/channel?id=<%=ID%>" class="tab">Videos</a>
 
     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab active">Community</a>
 
                 <a  href="/channel?id=<%=ID%>&tab=about" class="tab">About</a>
                                                               <% } %>

            </div>
     
     
     
     <% } %>
           
	</div> 
                                           <% } %>
                                               <% if (isMobile) { %>  
                   <div class="channel-info-container" style="text-align: center;">

                                      <% if (j.Channel.Metadata.Banners.Thumbnail) { %>

          <img src="https://p.poketube.fun/<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>">
                               <% } %>
                                 
 
<div class="channel-info" style="display: flex;
padding-bottom: 0;
font-weight: bold;
justify-content: center;
flex-direction: column;
gap: 0px;
margin: auto;">


			<a href="/channel?id=<%=ID%>" class="avatar" style="height: 6em;
display: flex;
flex-direction: column;
align-content: center;
margin: auto;
width: fit-content;
">
				<img src="https://p.poketube.fun/<%=j.Channel.Metadata.Avatars.Thumbnail.$t%>" alt="Channel Avatar">
			</a>
			<div class="name">
				<p style="font-family:PokeTube Flex,sans-serif;font-weight:1000;font-stretch: ultra-expanded;white-space:yes;"><%=j.Channel.Metadata.Name%>  </p>
          <p style="margin: -9px;">
            			<%=subs%> subscribers  

        </p>
 			</div>
      <p style="padding:0;font-weight:bold;"> 
   <%-getFirstLine(desc)%> <a href="/channel?id=<%=ID%>&tab=about">
<i class="fa-thin fa-angle-right"></i></a>
        </p>
         <a href="/feeds/videos.xml?channel_id=<%=ID%>"><button class="subscribe-button">Rss feed</button>
</a> 

        
  <% if (isMobile) { %>  
 
               
 
   <div style="text-align: center;padding: 3px;margin-top: 0px;">
     
     <div class="tabs tabs-center">
            <% if (!tab) { %>

                <a href="/channel?id=<%=ID%>" class="tab active">Home</a>
              <%  if (Array.isArray(c.comments)) { %> 

  <%  if (c.comments.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab">Community</a>
                                                                         <% } %>
                                                                         <% } %>
                <a  href="/channel?id=<%=ID%>&tab=about"  class="tab">About</a>
                                                               <% } %>
                                                                             <% if (tab ==="about") { %>

                <a href="/channel?id=<%=ID%>" class="tab">Home</a>
                <a href="/channel?id=<%=ID%>&tab=community"  class="tab">Community</a>
                <a  href="/channel?id=<%=ID%>&tab=about" class="tab active">About</a>
                                                               <% } %>
                                                                 
                                                                     <% if (tab ==="community") { %>

                <a href="/channel?id=<%=ID%>" class="tab">Home</a>
                <a href="/channel?id=<%=ID%>&tab=community"  class="tab active">Community</a>
                <a  href="/channel?id=<%=ID%>&tab=about" class="tab">About</a>
                                                               <% } %>

            </div>
     
     

        </a>

 </a>
</div>
 
   
   </div>
   
                                              <% } %>

        
		</div>
                
	</div> 
                               
                                           <% } %>
   
     
     <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">   
                                             <% if (!tab) { %>  
                                               

             <div align="center">


 
    	<div class="video-grid" >
             <%  if (Array.isArray( tj)) { %> 

   <% tj.forEach (x =>  { %>
			<a href="/watch?v=<%- x.videoId %>" class="video">
				<div class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.videoId %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 10px;"><span class="video-length"><%- turntomins(x.lengthSeconds) %></span></div>
				<div class="info">
					<span class="title max-lines-2" style="font-family:PokeTube flex,sans-serif;font-weight: 1000;font-stretch: ultra-expanded;"><%- x.title %></span>
			 
            </div>
 			</a>	
 		 	               <% }) %>   
 <% } %>

                                             
 
         
 
                       
                       </div>
                  
 
          <% } %>
    <% if (tab === "community") { %>
    <%  if (Array.isArray( c.comments)) { %> 
<div class="community">
  
   <% c.comments.forEach (x =>  { %>
     <div class="community-content">
    

                     <h5 style="display: flex;margin-top: -1em;padding-top: 10px;margin-bottom:10px"><div class="thumb">
				<a href="/channel?id=UC0n83khlA76NRfDfm7BNtkQ" class="avatar" style="width: 40px;height: 40px;">
					<img src="https://p.poketube.fun/<%=j.Channel.Metadata.Avatars.Thumbnail.$t%>">
				</a>
                       
            </div>
                                                           

                <p class="comments-author">
                  				<a href="" style="color: var(--text-color);text-decoration: none;"><%=j.Channel.Metadata.Name%> 

                                                                                                  </a>
                            
                            <span>
                                <br>   <%- x.publishedText %> -                         <span>   
 <%- convert(x.likeCount) %>   likes
        </span>   

                            </span>

                  
 
                                             

                  
                </p>

              </h5>
             <p>
                      <%- x.contentHtml %>

                            </p>

             <% if (x.attachment) { %>
                      <% if (x.attachment.type === "video") { %>
 
 		<div class="video-player-container">

<video class="player"  style="border-radius: 16px;
"  controls   
       
       poster="https://p.poketube.fun/https://i.ytimg.com/vi/<%=x.attachment.videoId%>/maxresdefault.jpg?v=607ddcd4">
        
                           
                                                <source src="https://tube.kuylar.dev/proxy/media/<%=x.attachment.videoId%>/22" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="false">

                                                                           
                                                                             </video>
                                                                                   </div>

                        
               <% } %>
                                       <% if (x.attachment.type === "image") { %>
 
                                                                                 <% if (x.attachment.imageThumbnails[4] ) { %>
 
                                                                                   <img style="  width: 100%;
  border-radius: 26px;" src="https://p.poketube.fun/<%- x.attachment.imageThumbnails[4].url%>">
               <% } %>               <% } %>

                 
               <% } %>

   
              </div>

                  
    <% }) %>   

                                                               <% } %>                                                               <% } %>


                                                                 
 <% if (tab === "about") { %>
   <div style="text-align: left;">   
     <h3 style="color:#fff;font-family:Ginto Nord,sans-serif;font-weight:900;padding: 0px;margin: 0;margin-top: 7px;margin-left: 10px;">About</h3>


     <% if (desc) { %>

 <p style="color:#fff;margin-left: 10px;font-weight: bold;"><%-desc.replace(/\n/g, " <br> ")%></p>
  <% } %>
          <% if (wiki.extract_html) { %> 
                     <h3 style="color:#fff;font-family:Ginto Nord,sans-serif;font-weight:900;padding: 0px;margin: 0;margin-top: 7px;margin-left: 10px;">From the web</h3>

            <div style="color:#fff;margin-left: 10px;">
            <p style="color:#fff:font-weight: bold;"> 
              
 <%-wiki.extract_html%>              </p>  
 
                           </div>

               <div style="color:#fff;margin-left: 10px;">

<p style="margin-bottom: 10px;">

  <a href=" <%-wiki.content_urls.desktop.page%>
 ">From wikipedia </a> under CC-BY-SA 3.0
                     </p>
            </div>
  
                 
                     </p>
                     <% } %>   
                       <div style="font-weight: bold;color:#fff;margin-left: 10px;">
     <% if (about.Location != "[object Object]")  { %>
<p style="margin: 0px;margin-top: 2.5px;font-weight: bold;"><i class="fa-light fa-earth-americas"></i> <%- about.Location%>   </p>
                       <% } %>   

<p style="margin: 0px;margin-top: 2.5px;font-weight: bold;"><i class="fa-light fa-circle-info"></i>  <%- about.Joined%> </p>
<p style="margin: 0px;margin-top: 2.5px;font-weight: bold;">   <i class="fa-light fa-arrow-trend-up"></i> <%- about.ViewCount%>   </p>

  </div>
                       </div>
   <% } %>
               </body>
 
   
 
</html>

