 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->

  
<!DOCTYPE html><html>
<head>
    <title>PokeTube - Privacy Is Your Right</title>
    <link href=/css/yt-ukraine.svg?v=6 rel=icon>
      <meta content="PokeTube - Privacy Is Your Right" property=og:title>
    <meta content="Privacy Is Your Right - Watch memes, cat videos, music videos and more cool stuff without giving away ur privacy!" property=twitter:description>
    <meta content="https://cdn.glitch.global/43b6691a-c8db-41d4-921c-8cf6aa0d9108/17a7fa1d-cdf9-4b73-9686-21e62c7fb285.image.png?v=1667739586452" property=og:image>
     <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
    <link href=/css/app-cdn.min.css rel=stylesheet>
  <link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app.main.css rel=stylesheet>
<link href=/css/search.main.css rel=stylesheet> 
 <link href=/css/watch.main.css rel=stylesheet>
     <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
   <meta content="#1a1a1a" name="theme-color">
 </head>

 <body>
     
     <section class=youtube-video>
      
<style>
         @import url("https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");
  * {
  }
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
  summary{
    color:gray;
}
summary:hover{
    color:white;
}
</style>
  <!-- WIGGLE WIGGLE WIGGLE -->
  <style>
    body{
        overflow: hidden; /* Hide scrollbar */

        color:#111111
    }
    
   .animated {
            -webkit-animation-duration: 10s; 
            animation-duration: 10s; 
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
            animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
         }
         
         @-webkit-keyframes wiggle { 
            0% { -webkit-transform: skewX(9deg); }
            10% { -webkit-transform: skewX(-8deg); }
            20% { -webkit-transform: skewX(7deg); }
            30% { -webkit-transform: skewX(-6deg); }
            40% { -webkit-transform: skewX(5deg); } 
            50% { -webkit-transform: skewX(-4deg); } 
            60% { -webkit-transform: skewX(3deg); }
            70% { -webkit-transform: skewX(-2deg); } 
            80% { -webkit-transform: skewX(1deg); } 
            90% { -webkit-transform: skewX(0deg); }
            100% { -webkit-transform: skewX(0deg); } 
         }
         
         @keyframes wiggle { 
            0% { transform: skewX(9deg); } 
            10% { transform: skewX(-8deg); } 
            20% { transform: skewX(7deg); } 
            30% { transform: skewX(-6deg); } 
            40% { transform: skewX(5deg); } 
            50% { transform: skewX(-4deg); } 
            60% { transform: skewX(3deg); } 
            70% { transform: skewX(-2deg); } 
            80% { transform: skewX(1deg); } 
            90% { transform: skewX(0deg); } 
            100% { transform: skewX(0deg); } 
         }
         
         .wiggle { 
            -webkit-animation-name: wiggle;
            animation-name: wiggle; 
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; 
         }
         
         .animated.wiggle { 
            -webkit-animation-duration: 0.75s; 
            animation-duration: 0.75s;
         }
    
    :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #1a1a1a;
    --context-menu-background: #333;
    --border-color: #444;
    --item-hover-background: #373737;
    --item-active-background: #383838;

    --top-bar-background: #202020;
    --guide-background: #212121;

    --thumbnail-background: #252525;

    --channel-info-background: #181818;
    --channel-contents-background: #0f0f0f;
}
          @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
  </style>   
 <style> 
 
        .channel-info-container > img {
  width: 100%;
}
 
   .video-grid > .video {
   background-color: #181818;
border-radius: 8px;
   } 
 
section#landing-page {
    position: fixed;
    width: 100%;
    max-width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
   }
 
.content {
           border-radius: 26px;
          padding: 1em;
          margin: auto;
          display: flex;
         justify-content: center;
         align-items: center; 
          position: relative;
         top: 50%;
         transform: translateY(50%);
}
   
   .content-inner{
     padding: 10px;color:#fff;position: relative;top: 50%;transform: translateY(50%);
   }
.heading {
  color: #fff;
  font-size: xxx-large;
    font-family: 'PokeTube flex';

font-stretch: ultra-expanded;
  font-weight: 1000;
}
   
.btn-explore {
  padding: 20px;
  display: flex;
  font-family: 'PokeTube flex';
  font-stretch: ultra-expanded;
  font-weight: 1000;
  margin-top: 20px !important;
  background-color: #fff;
  border-radius: 6px;
  width: 186px;
  color: #000;
  font-size: 20px;
  text-decoration: unset;
  margin: auto;
    margin-top: auto;
}
 
      .news {
  display: flex;
  justify-content: center;
  background: #111;
  width: 18em;
  margin: auto;
    margin-bottom: auto;
  border-radius: 3em;
  color: white;
  margin-bottom: -10em;
}
    
   
   .news > * {
     color:#fff
   }
   
   .news > a {
     display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 1rem;
 font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
font-weight: 400;
 font-size: 16px;
line-height: 24px;
margin-top: 12px;
z-index: 10; /* Was 2 */"
   }
      </style>

       <div class="app" style="background-image: url(/css/land.svg);background-size: auto;background-repeat: no-repeat;">         
 
        
     <nav>
             <div class="left">

              <a class="class" href="/143" style="font-family:Inter,sans-serif;color:#fff">  <img style="transform: scale(1.3);width:8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo-dark.svg?v=5"></a>
            </div>          

  
        <div class="middle">
<div class="search">
  
        <form action="/search"><input class="search-bar" autocomplete="on" id="fname" name="query" style="color:#fff;font-family:Inter,sans-serif;border-radius: 2em;" data-ddg-inputtype="identities.firstName">
<button class="btn btn-success" type="submit" style="transform: translate(21em, -1.25em);"><i class="fa-light fa-search"></i></button>             
         </form>
          <img src="https://search-metrics.poketube.fun/t/rep.gif" style="border:0;width: 0;visibility: hidden;"> 

      </div>
       </div>
            <div class="right">
              <a href="/domains"><i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-server"></i>  </a>
              <a href="/privacy"><i class="fa-light fa-shield"></i></a>
              <a href="/video/upload?from="><i class="fa-light fa-video"></i></a> 
              <a href="https://github.com/iamashley0/poketube/issues"><i class="fa-light fa-bug"></i></a>
            </div>
     
      </nav>
  
  
 <div class="channel-page">
          <div class="news"> 
                           <img src="/css/ua.svg" style="width: 1.2em;align-self: center;margin-right: 3px;">

   <a href="https://u24.gov.ua/">
                   Support Ukraine
      </a>
            
              
    </div>

    <div class="content">

  
<div class="content-inner" style="padding: 10px;color:#fff;">
        <br>
        <h1 class="heading">PRIVACY IS YOUR RIGHT</h1>
    <div style="text-align: center;color: #fff;margin-top: 8px;">
 Poketube is a libre front end for YouTube That is focused on your privacy! </div>
        <a href="/discover" class="btn-explore">Discover Videos</a>
      </div>
    </div>
    <div style="display: flex;justify-content: center;">
           <img src="/css/product.svg" style="width: 25em;margin-top: 11.2em;transform: scale(1.3);margin-right: 1em;margin-bottom: 1em;">
         </div>
     </div>

 
 
   
  
</div>
 
 </body>
</html>   
  
