<html>
  <head>
        <link href="https://codeberg.org/Ashley/poketube/raw/branch/main/css/yt-ukraine.svg" rel=icon>

     <title> warming up... </title>
    <style>
      * {
        font-family:sans-serif;
      }
      body {
      display: flex;
      background: #111;
      }
      div {
     margin: auto;
display: flex;
flex-flow: column;
align-self: center;
background: #333;
color: #fff;
padding: 1em;
border-radius: 31px;
min-height: 34em;
      }
      a {
        color:#0ab7f0;
          text-decoration: none;

       }
      a.class:hover {
  text-decoration: underline;
  font-weight: bold;
}
     </style>
      <meta http-equiv="refresh" content="50">
  </head>
  <body>
    <div>
      
    <h1>
      Hey There qt! - Please wait (poketube is warming up...)
    </h1>
    <p>
    poketube just got started, please wait few minutes so poketube can launch and be fast :3
    </p> 
      
      <p style="color:lime">
        protip: u can use other poketube instances while waiting for this instance to start!
        <a href="https://codeberg.org/Ashley/poketube/raw/branch/main/instances.json"> view em on a list </a>
      </p>
    </div>

  </body>
</html>